<div>
  <mat-card class="example-card card">
    <mat-card-title-group>
      <mat-card-title>Author: {{ postInfo.user.displayName }}</mat-card-title>
      <mat-card-subtitle class="title"> {{ postInfo.title }}</mat-card-subtitle>
      <mat-card-subtitle> {{ postInfo.description }}</mat-card-subtitle>
    </mat-card-title-group>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <span>Posted: {{ postInfo.date }}</span>
    </div>
  </mat-card>

  <h2>Comments:</h2>

  <div fxLayout="row">
    <mat-card class="example-card card" *ngFor="let comments of comments | async">
      <mat-card-title-group>
        <mat-card-title>Author: {{ comments.user.displayName }}</mat-card-title>
        <mat-card-subtitle class="title"> {{ comments.text }}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card>
  </div>
</div>

