<div fxLayout="row wrap" fxLayoutAlign="space-around center">
  <mat-card class="example-card card" *ngFor="let post of posts | async">
    <mat-card-title-group>
      <mat-card-title>Author: {{ post.user.displayName }}</mat-card-title>
      <mat-card-subtitle class="title"> {{ post.title }}</mat-card-subtitle>
      <img mat-card-md-image [src]="post.image | image"
           [alt]="'Photo of ' + post.title"
           mat-card-image>
    </mat-card-title-group>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <a [routerLink]="['/post/',post.id]" mat-raised-button color="primary">Read more...</a>
      <span>Posted: <b>{{ post.date }}</b></span>
    </div>
  </mat-card>
</div>
